.education {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.divider {
    width: 100%;
    border-bottom: 2px solid black;
}

.education-header,.university-attendance {
    font-weight: bold;
}

.university-attendance {
    display: flex;
    justify-content: space-between;
}